.inputs {
  float: left;
  margin-left: 9.5%;
  margin-bottom: 5%;
  margin-top: 2%;
  padding-left: 10%;
  min-height: 5%;
  width: 35%;
  font-size: medium;
  position: relative;
  display: inline;
  zoom: normal;
}

.real {
  max-width: 22%;
  margin-right: 5%;
  margin-top: 10%;
  float: left;
}

.img {
  margin-left: 5%;
  max-width: 22%;
  margin-top: 10%;
  float: left;
}

.label1 {
  float: left;
  padding-left: 15%;
  clear: both;
}

.plus {
  float: left;
  padding-top: 14%;
}

.imc {
  float: left;
  margin-top: 14%;
}

.label2 {
  float: left;
  padding-left: 10%;
  clear: both;
}

.mod {
  max-width: 22%;
  margin-right: 5%;
  margin-top: 10%;
  float: left;
}

.pha {
  max-height: 3%;
  margin-left: 3%;
  padding-top: 6%;
  max-width: 22%;
  float: left;
}

.exp {
  float: left;
  margin-top: 12%;
  font-size: x-large;
}

.expi {
  float: left;
  padding-top: 6%;
  margin-left: 2%;
}

@media (max-device-width: 800px) {
  .label1 {
    margin-left: -30%;
  }
  .label2 {
    margin-left: -40%;
  }
  .plus {
    padding-top: 16%;
  }
  .imc {
    padding-top: 5%;
  }
  .real {
    max-width: 35%;
    margin-left: -15%;
    float: left;
  }
  .img {
    max-width: 35%;
    float: left;
  }
  .pha {
    max-width: 35%;
    font-size: x-small;
    margin-left: 1%;
  }
  .mod {
    max-width: 35%;
  }
}

@media (min-device-width: 800px) {
  .inputs {
    margin-right: 4%;
  }
  .plus {
    padding-top: 14%;
  }
  .imc {
    padding-top: -2%;
    margin-left: -5%;
  }
  .real {
    max-width: 35%;
    margin-left: -15%;
    float: left;
  }
  .img {
    max-width: 35%;
    float: left;
    margin-left: 25%;
  }
  .pha {
    max-width: 35%;
    font-size: x-small;
    margin-left: 1%;
    margin-top: 3%;
  }
  .mod {
    max-width: 35%;
  }
}

@media (max-device-width: 450px) {
  .label1 {
    margin-left: -30%;
  }
  .label2 {
    margin-left: -40%;
  }
  .plus {
    padding-top: 20%;
  }
  .imc {
    padding-top: 5%;
    margin-left: 5%;
  }
  .real {
    max-width: 35%;
    margin-left: -15%;
    float: left;
  }
  .img {
    max-width: 35%;
    float: left;
  }
  .pha {
    max-width: 40%;
    font-size: x-small;
    margin-left: 3%;
  }
  .mod {
    max-width: 45%;
    float: left;
    font-size: medium;
    margin-left: -25%;
    padding-left: -10%;
  }
}
/*# sourceMappingURL=inputs.component.css.map */