@media only screen and (max-width: 767px) {
    .inputsl {
        min-width: 35%;
        max-width: 35%;
        float: left;
        margin-left: 10%;
    }

    .inputsr {
        min-width: 35%;
        max-width: 35%;
        float: left;
        margin-left: 4%;
    }

    .container {
        clear: both;
    }

    .real {
        margin-left: 0%;
    }

    .img {
        margin-left: -10%;
    }

    .real,
    .img {
        float: left;
        min-width: 50%;
        max-width: 50%;
        font-size: small;
        text-align: center;
    }

    .plus {
        float: left;
        padding-top: 9%;
        margin-left: -8%;
        width: 5%;
    }

    .imc {
        float: left;
        width: 5%;
        padding-top: 9%;
        margin-left: -6%;
        font-size: small;
    }

    .labelcomplex {
        float: left;
        clear: both;
        padding-left: 30%;
    }

    .mod {
        float: left;
        min-width: 50%;
        max-width: 50%;
        font-size: small;
        text-align: center;
        margin-left: 5%;
        margin-right: 1%;
    }

    .exp {
        margin-top: 5%;
        width: 5%;
        font-size: large;
        float: left;
        text-align: center;
    }

    .pha {
        float: left;
        margin-top: -3%;
        margin-left: -11%;
        min-width: 50%;
        max-width: 50%;
        font-size: xx-small;
        text-align: center;
    }

    .expi {
        padding-top: 6%;
        margin-left: -8%;
        width: 5%;
        font-size: xx-small;
        float: left;
    }

    .labelexpo {
        float: left;
        clear: both;
        padding-left: 25%;
    }

    .label {
        // border: 2px solid blue;
        float: left;
        width: 3%;
        text-align: center;
        font-size: xx-small;
        margin-left: 3%;
        margin-top: 8%;
    }

}

@media only screen and (min-width: 768px) {
    /* For desktop: */

    .inputsl {
        min-width: 35%;
        max-width: 35%;
        float: left;
        margin-left: 10%;
    }

    .inputsr {
        min-width: 35%;
        max-width: 35%;
        float: left;
        margin-left: 4%;
    }

    .container {
        clear: both;
    }

    .real {
        margin-left: 5%;
    }

    .real,
    .img {
        float: left;
        min-width: 40%;
        max-width: 40%;
        font-size: small;
        text-align: center;
    }

    .plus {
        float: left;
        padding-top: 5%;
        width: 5%;
    }

    .imc {
        float: left;
        width: 5%;
        padding-top: 5%;
        font-size: small;
    }

    .labelcomplex {
        float: left;
        clear: both;
        padding-left: 40%;
    }

    .mod {
        float: left;
        min-width: 45%;
        max-width: 45%;
        text-align: center;
        font-size: small;
        margin-left: 5%;
    }

    .exp {
        width: 5%;
        font-size: x-large;
        float: left;
    }

    .pha {
        float: left;
        min-width: 40%;
        max-width: 40%;
        font-size: xx-small;
        text-align: center;
    }

    .expi {
        padding-top: 4%;
        margin-left: -5%;
        width: 5%;
        float: left;
    }

    .labelexpo {
        float: left;
        clear: both;
        padding-left: 35%;
    }

    .label {
        // border: 2px solid blue;
        float: left;
        width: 3%;
        text-align: center;
        font-size: xx-small;
        margin-left: 3%;
        margin-top: 3%;
    }

}

@media only screen and (min-width: 1025px) {
    /* For desktop: */

    .inputsl {
        min-width: 35%;
        max-width: 35%;
        float: left;
        margin-left: 10%;
    }

    .inputsr {
        min-width: 35%;
        max-width: 35%;
        float: left;
        margin-left: 4%;
    }

    .container {
        clear: both;
    }

    .real {
        margin-left: 5%;
    }

    .real,
    .img {
        float: left;
        min-width: 40%;
        max-width: 40%;
        font-size: small;
        text-align: center;
    }

    .plus {
        float: left;
        padding-top: 3%;
        width: 5%;
    }

    .imc {
        float: left;
        width: 5%;
        padding-top: 3.5%;
        font-size: small;
    }

    .labelcomplex {
        float: left;
        clear: both;
        padding-left: 40%;
    }

    .mod {
        float: left;
        min-width: 45%;
        max-width: 45%;
        text-align: center;
        font-size: small;
        margin-left: 5%;
    }

    .exp {
        width: 5%;
        font-size: x-large;
        float: left;
    }

    .pha {
        float: left;
        min-width: 40%;
        max-width: 40%;
        font-size: xx-small;
        text-align: center;
    }

    .expi {
        padding-top: 3%;
        width: 5%;
        float: left;
    }

    .labelexpo {
        float: left;
        clear: both;
        padding-left: 35%;
    }

    .label {
        // border: 2px solid blue;
        float: left;
        width: 3%;
        text-align: center;
        font-size: xx-small;
        margin-left: 3%;
        margin-top: 3%;
    }

}
