<div class="container">

  <ion-card class="inputsl" role="input" [id]="id">
    
    <ion-input class="real" (ionChange)="realChanged()" style="--padding-start:10%" clearOnEdit="true" type="number" placeholder="Real" ngDefaultControl [(ngModel)]="real" [disabled]="isDisabled" inputmode="numeric" maxlength="4" oninput="this.value=this.value > 200 ? '200': this.value < -200 ? '-200' :  this.value"></ion-input>
    <ion-label class="plus">+</ion-label>
    <ion-input class="img" (ionChange)="imChanged()" style="--padding-start:10%" clearOnEdit="true" type="number" placeholder="Imag" ngDefaultControl [(ngModel)]="imaginary" [disabled]="isDisabled" inputmode="numeric" maxlength="4" oninput="this.value=this.value > 200 ? '200': this.value < -200 ? '-200' : this.value"></ion-input>
    <ion-label class="imc">i</ion-label>
    <ion-label class="labelcomplex">complex</ion-label>
  </ion-card>

  <div class="label">
    z{{this.inputID}}
  </div>
  
  <ion-card class="inputsr">
    <ion-input class="mod" (ionChange)="modChanged()" clearOnEdit="true" type="number" placeholder="Modulus" ngDefaultControl [(ngModel)]="modulus" [disabled]="!isDisabled" inputmode="numeric" maxlength="4" oninput="this.value=this.value > 200 ? '200': this.value < -200 ? '-200' : this.value"></ion-input>
    <ion-label class="exp">e</ion-label>
    <ion-input class="pha" (ionChange)="phaseChanged()" clearOnEdit="true" type="number" placeholder="Phase" ngDefaultControl [(ngModel)]="phase" [disabled]="!isDisabled" inputmode="numeric" maxlength="4" oninput="this.value=this.value > 200 ? '200': this.value < -200 ? '-200' : this.value"></ion-input>
    <ion-label class="expi">i</ion-label>
    <ion-label class="labelexpo">exponential</ion-label>
  </ion-card>
</div>
