
<app-canvas #canvas (sceneEvent)="receiveScene($event)"></app-canvas>


<app-modeswitch (switchEvent)="receiveSwitchMode($event)"></app-modeswitch>

  <div class="buttons">
    <button class="w3-btn w3-ripple" (click)="toggle()" id="bt">
      Inputs 
      <ion-icon name="more" mode="ios"></ion-icon>
    </button>
    
    <button class="w3-btn w3-ripple" (click)="resetCamera()" id="bt2">
      <ion-icon name="aperture"></ion-icon>
      Reset Camera
    </button>
  </div>


<div class="manager">

  <ng-container *ngIf="showInput">

    <app-inputs [inputID]="" [isDisabled]="isDisabled" (inputEvent)="receiveInputs($event)" *ngIf="!operations"></app-inputs>

    <app-inputs [inputID]="1" [isDisabled]="isDisabled" (inputEvent)="receiveInputs($event)" *ngIf="operations"></app-inputs>

    <app-inputs [inputID]="2" [isDisabled]="isDisabled" (inputEvent)="receiveInputs($event)" *ngIf="operations"></app-inputs>

    <div class="ricontainer"> 

      <ion-card class="rinputsl" *ngIf="operations">
    
        <ion-input class = "rreal" style="--padding-start:10%" type="number" inputmode="numeric" placeholder="Real" ngDefaultControl [(ngModel)]="real" [disabled]="true" maxlength="3" oninput="this.value=this.value > 200 ? '200': this.value < -200 ? '-200' : this.value"></ion-input>
        <ion-label class = "rplus">+</ion-label>
        <ion-input class = "rimg" style="--padding-start:10%" type="number" inputmode="numeric" placeholder="Imag" ngDefaultControl [(ngModel)]="imaginary" [disabled]="true" maxlength="3" oninput="this.value=this.value > 200 ? '200': this.value < -200 ? '-200' : this.value"></ion-input>
        <ion-label class = "rimc">i</ion-label>
        <ion-label class="rlabel1">complex</ion-label>
      </ion-card>

      <div class= "labels"  *ngIf="operations">
        z1 <br> {{this.operator}} <br> z2
      </div>
      
      <ion-card class="rinputs" *ngIf="operations">
        <ion-input class = "rmod" type="number" inputmode="numeric" placeholder="Modulus" ngDefaultControl [(ngModel)]="modulus" [disabled]="true" maxlength="3" oninput="this.value=this.value > 200 ? '200': this.value < -200 ? '-200' : this.value"></ion-input>
        <ion-label class="rexp">e</ion-label>
        <ion-input class = "rpha" type="number" inputmode="numeric" placeholder="Phase" ngDefaultControl [(ngModel)]="phase" [disabled]="true" maxlength="3" oninput="this.value=this.value > 200 ? '200': this.value < -200 ? '-200' : this.value"></ion-input>
        <ion-label class="rexpi">i</ion-label>
        <ion-label class="rlabel2">exponential</ion-label>
      </ion-card>
    </div>

    <app-nthroot class="nthroot" (rootEvent)="receiveRoot($event)" *ngIf="!operations"></app-nthroot> 

  </ng-container>
 
</div>

<app-buttons (operationsEvent)="receiveOperation($event)" (clickEvent)="receiveButtonClicked($event)" (drawEvent)="receiveDrawOptions($event)"></app-buttons>

<app-vectormanager class="vectormanager" (vectorEvent)="vectorEventReceived($event)"></app-vectormanager>

<app-stepbysteptool [currVars]="opnumbers" [currOperation]="operations" class = "sbstool" *ngIf="operations"></app-stepbysteptool>