.inputs {
  float: left;
  margin-left: 9.5%;
  margin-bottom: 2%;
  margin-top: 2%;
  width: 35%;
  padding-left: 10%;
  min-height: 5%;
  font-size: medium;
  position: relative;
  display: inline;
  zoom: 0;
}

.buttons {
  width: 100%;
  margin-bottom: 5%;
  float: left;
}

.manager {
  float: left;
  clear: both;
  margin-left: 10%;
  min-width: 80%;
  max-width: 80%;
}

.vectormanager {
  float: left;
  clear: both;
  margin-left: 1%;
  margin-bottom: 1%;
  min-width: 80%;
  max-width: 80%;
}

#bt {
  background-color: #df813c;
  border-radius: 25px;
  margin-left: 5%;
  font-size: small;
  text-align: center;
  float: left;
}

#canvas {
  max-height: 40%;
}

#bt2 {
  background-color: #df813c;
  border-radius: 25px;
  margin-right: 5%;
  font-size: small;
  text-align: center;
  float: right;
}

.label {
  float: left;
  margin-left: -48%;
  margin-top: 6%;
  width: 5%;
  min-height: 5%;
  position: relative;
  display: inline;
  font-size: small;
  text-align: center;
}

.label2 {
  float: left;
  margin-left: -48%;
  margin-top: 6%;
  width: 5%;
  min-height: 5%;
  position: relative;
  display: inline;
  font-size: small;
  text-align: center;
}

.labels {
  float: left;
  margin-left: -48%;
  margin-top: 6%;
  width: 5%;
  min-height: 5%;
  position: relative;
  display: inline;
  font-size: small;
  text-align: center;
}

.nthroot {
  margin-left: 10%;
  float: left;
  clear: both;
}

.rinputs {
  float: left;
  margin-left: 9.5%;
  margin-bottom: 10%;
  margin-top: 2%;
  padding-left: 10%;
  min-height: 5%;
  width: 35%;
  font-size: medium;
  position: relative;
  display: inline;
  zoom: normal;
}

.rreal {
  max-width: 22%;
  margin-right: 5%;
  margin-top: 10%;
  float: left;
  clear: left;
}

.rimg {
  margin-left: 5%;
  max-width: 22%;
  margin-top: 10%;
  float: left;
}

.rlabel1 {
  float: left;
  padding-left: 15%;
  clear: both;
}

.rplus {
  float: left;
  padding-top: 14%;
}

.rimc {
  float: left;
  margin-top: 14%;
}

.rlabel2 {
  float: left;
  padding-left: 10%;
  clear: both;
}

.rmod {
  max-width: 22%;
  margin-right: 5%;
  margin-top: 10%;
  float: left;
}

.rpha {
  max-height: 3%;
  margin-left: 3%;
  padding-top: 6%;
  max-width: 22%;
  float: left;
}

.rexp {
  float: left;
  margin-top: 12%;
  font-size: x-large;
}

.rexpi {
  float: left;
  padding-top: 6%;
  margin-left: 2%;
}

.sbstool {
  margin-bottom: 20%;
  min-width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.item {
  width: 100%;
  font-size: 12px;
  border-radius: 25px;
}

.pickr {
  width: 25px;
  margin-left: 1%;
  border-radius: 10px;
}

#ht {
  background-color: #df813c;
  border-radius: 25px;
  margin: 2% 0% 2% 5%;
  text-align: center;
  font-size: small;
  float: left;
  clear: both;
}

.text {
  font-size: medium;
}

@media (max-device-width: 450px) {
  #bt2 {
    background-color: #df813c;
    border-radius: 25px;
    text-align: center;
    float: right;
  }
}

@media (max-device-width: 380px) {
  #bt2 {
    background-color: #df813c;
    border-radius: 25px;
    text-align: center;
    float: right;
  }
}

@media (min-device-width: 750px) {
  .rlabel1 {
    margin-left: 25;
  }
  .rplus {
    padding-top: 20%;
  }
  .rimc {
    padding-top: 5%;
    margin-left: 4%;
  }
  .rreal {
    max-width: 35%;
    margin-left: -15%;
    float: left;
  }
  .rimg {
    max-width: 35%;
    float: left;
    margin-left: 5%;
  }
  .rpha {
    max-width: 35%;
  }
  .rmod {
    max-width: 35%;
  }
}

@media (min-device-width: 800px) {
  .rinputs {
    margin-right: 4%;
  }
  .rplus {
    padding-top: 14%;
  }
  .rimc {
    padding-top: -2%;
    margin-left: -5%;
  }
  .rreal {
    max-width: 35%;
    margin-left: -15%;
    float: left;
  }
  .rimg {
    max-width: 35%;
    float: left;
    margin-left: 25%;
  }
  .rpha {
    max-width: 35%;
    font-size: x-small;
    margin-left: 1%;
    margin-top: 3%;
  }
  .rmod {
    max-width: 35%;
  }
}

@media (max-device-width: 800px) {
  .rlabel1 {
    margin-left: 30%;
  }
  .rlabel2 {
    margin-left: 40%;
  }
  .rplus {
    padding-top: 16%;
  }
  .rimc {
    padding-top: 5%;
  }
  .rreal {
    max-width: 35%;
    margin-left: -15%;
    float: left;
  }
  .rimg {
    max-width: 35%;
    float: left;
  }
  .rpha {
    max-width: 35%;
    font-size: x-small;
    margin-left: 1%;
  }
  .rmod {
    max-width: 35%;
  }
}

@media (max-device-width: 450px) {
  .rlabel1 {
    margin-left: -30%;
  }
  .rlabel2 {
    margin-left: -40%;
  }
  .rplus {
    padding-top: 20%;
  }
  .rimc {
    padding-top: 5%;
    margin-left: 5%;
  }
  .rreal {
    max-width: 35%;
    margin-left: -15%;
    float: left;
  }
  .rimg {
    max-width: 35%;
    float: left;
  }
  .rpha {
    max-width: 40%;
    font-size: x-small;
    margin-left: 3%;
  }
  .rmod {
    max-width: 45%;
    float: left;
    font-size: medium;
    margin-left: -25%;
    padding-left: -10%;
  }
  .labels {
    margin-top: -4%;
  }
}
/*# sourceMappingURL=graph.component.css.map */