.inputs{
    //  border: 2px solid magenta;
    float: left;
    margin-left: 9.5%;
    margin-bottom: 2%;
    margin-top: 2%;
    width: 35%;
    padding-left: 10%;
    min-height: 5%;
    font-size: medium;
    position: relative;
    display: inline;
    zoom: 0;
    //clear: both;
}

.buttons{
         width: 100%;
         margin-bottom: 2%;
         float: left;
}

.manager{
    // border: 2px solid red;
    float: left;
    clear: both;
    margin-left: 10%;
    min-width: 80%;
    max-width: 80%;
}

.ricontainer{
    // border: 2px solid green;
    width: 100%;
    float: left;
}

.rinputsl{
    // border: 2px solid blue;
    min-width: 35%;
    max-width: 35%;
    float: left;
    margin-left: 10%;
}

.rinputs{
    // border: 2px solid blue;
    min-width: 35%;
    max-width: 35%;
    float: left;
    margin-left: 4%;
}

.vectormanager{
    float: left;
    clear: both;
    margin-left: 1%;
    margin-bottom: 1%;
    min-width: 80%;
    max-width: 80%;
}

#bt{
    background-color: #df813c;
    border-radius: 10px;
    margin-left: 5%;
    min-width: 13%;
    font-size: small;
    text-align: center;
    float: left;
}

#canvas{
    max-height: 40%;
}

#bt2{
    background-color: #df813c;
    border-radius: 10px;
    margin-right: 5%;
    min-width: 13%;
    font-size: small;
    text-align: center;
    float: right;
}

.label{
    // border: 2px solid blue;
    float: left;
    margin-left: -45%;
    margin-top: 5%;
    position: relative;
    // width: 5%;
    // min-height: 5%;
    // display: inline;
    // font-size: small;
    // text-align: center;
}

.label2{
    // border: 2px solid green;
    float: left;
    margin-left: -45%;
    margin-top: 5%;
    position: relative;
    // width: 5%;
    // min-height: 5%;
    // display: inline;
    // font-size: small;
    // text-align: center;
}

.labels{
    // border: 2px solid red;
    float: left;
    width: 3%;
    text-align: center;
    font-size: xx-small;
    margin-left: 3%;
    padding-top: 3%;
    // margin-left: -50%;
    // margin-top: 3%;
    // position: relative;
    // width: 5%;
    // min-height: 5%;
    // display: inline;
    // font-size: small;
    // text-align: center;
}

.nthroot{
    margin-left: 7%;
    max-width: 40%;
    float: left;
    clear: both;
}

// sbs tool css TODO: media queries

.sbstool{
    margin-bottom: 20%;
    min-width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.item{
    width:100%;
    font-size: 12px;
    border-radius: 25px;;
}

.pickr{
    width: 25px;
    margin-left: 1%;
    border-radius: 10px;
}

#ht{
    background-color: #df813c;
    border-radius: 25px;
    margin: 2% 0% 2% 5%; 
    text-align: center;
    font-size: small;
    float: left;
    clear: both;
}

.text{
    font-size: medium;
}

// TODO: media queries

@media only screen and (max-width: 767px) {
    .rinputsl{
        //   border: 2px solid magenta;
        // float: left;
        // margin-left: 9.5%;
        // margin-bottom: 10%;
        // margin-top: 2%;
        // padding-left: 10%;
        // min-height: 5%;
        // width: 35%;
        // font-size: medium;
        // position: relative;
        // display: inline;
        // zoom: normal;
        // clear: left;
    }
    
    .rinputs{
        //   border: 2px solid magenta;
        // float: left;
        // margin-left: 9.5%;
        // margin-bottom: 10%;
        // margin-top: 2%;
        // padding-left: 10%;
        // min-height: 5%;
        // width: 35%;
        // font-size: medium;
        // position: relative;
        // display: inline;
        // zoom: normal;
    
    }
    
    .rreal{
        margin-left: 0%;
    }

    .rimg {
        margin-left: -8%;
    }
    
    .rreal, .rimg{
        float: left;
        min-width: 50%;
        max-width: 50%;
        font-size: small;
        text-align: center;
    }
    
    .rplus{
        float: left;
        padding-top: 9%;
        margin-left: -5%;
        width: 5%;
    }
    
    .rimc{
        float: left;
        width: 5%;
        padding-top: 9%;
        margin-left: -4%;
        font-size: small;
    }
    
    
    .rlabel1{
        float: left;
        clear: both;
        padding-left: 30%;
    }
    
    .rlabel2{
        float: left;
        clear: both;
        padding-left: 25%;
    }
    
    .rmod{
        float: left;
        min-width: 50%;
        max-width: 50%;
        font-size: small;
        text-align: center;
        margin-left: 5%;
        margin-right: 1%;
    }
    
    .rpha{
        float: left;
        margin-top: -3%;
        margin-left: -11%;
        min-width: 50%;
        max-width: 50%;
        font-size: xx-small;
        text-align: center;
    }
    
    .rexp{
        margin-top: 5%;
        width: 5%;
        font-size: large;
        float: left;
        text-align: center;
    }
    
    .rexpi{
        padding-top: 6%;
        margin-left: -8%;
        width: 5%;
        font-size: xx-small;
        float: left;
    }
}

@media only screen and (min-width: 768px) {
    .rinputsl{
        //   border: 2px solid magenta;
        // float: left;
        // margin-left: 9.5%;
        // margin-bottom: 10%;
        // margin-top: 2%;
        // padding-left: 10%;
        // min-height: 5%;
        // width: 35%;
        // font-size: medium;
        // position: relative;
        // display: inline;
        // zoom: normal;
        // clear: left;
    }
    
    .rinputs{
        //   border: 2px solid magenta;
        // float: left;
        // margin-left: 9.5%;
        // margin-bottom: 10%;
        // margin-top: 2%;
        // padding-left: 10%;
        // min-height: 5%;
        // width: 35%;
        // font-size: medium;
        // position: relative;
        // display: inline;
        // zoom: normal;
    
    }

    .nthroot{
        margin-left: 9%;
        max-width: 37%;
        min-width: 37%;
        float: left;
        clear: both;
    }
    
    .rreal{
        margin-left: 0%;
    }

    .rimg {
        margin-left: -8%;
    }
    
    .rreal, .rimg{
        float: left;
        min-width: 50%;
        max-width: 50%;
        font-size: small;
        text-align: center;
    }
    
    .rplus{
        float: left;
        padding-top: 6%;
        margin-left: -5%;
        width: 5%;
    }
    
    .rimc{
        float: left;
        width: 5%;
        padding-top: 5%;
        margin-left: -2%;
        font-size: small;
    }
    
    
    .rlabel1{
        float: left;
        clear: both;
        padding-left: 40%;
    }
    
    .rlabel2{
        float: left;
        clear: both;
        padding-left: 35%;
    }
    
    .rmod{
        float: left;
        min-width: 50%;
        max-width: 50%;
        font-size: small;
        margin-left: 5%;
    }
    
    .rpha{
        float: left;
        margin-top: 0%;
        margin-left: -10%;
        min-width: 50%;
        max-width: 50%;
        font-size: xx-small;
        text-align: center;
    }
    
    .rexp{
        width: 5%;
        font-size: x-large;
        float: left;
        text-align: center;
        margin-left: -5%;
        margin-top: 0%;
    }
    
    .rexpi{
        padding-top: 4%;
        margin-left: -5%;
        width: 5%;
        float: left;
    }
}

@media only screen and (min-width: 1025px) {
    .labels{
        // border: 2px solid red;
        float: left;
        width: 3%;
        text-align: center;
        font-size: xx-small;
        margin-left: 3%;
        padding-top: 2%;
        // margin-left: -50%;
        // margin-top: 3%;
        // position: relative;
        // width: 5%;
        // min-height: 5%;
        // display: inline;
        // font-size: small;
        // text-align: center;
    }
    .nthroot{
        margin-left: 9%;
        max-width: 37%;
        min-width: 37%;
        float: left;
        clear: both;
    }
    .rinputsl{
        //   border: 2px solid magenta;
        // float: left;
        // margin-left: 9.5%;
        // margin-bottom: 10%;
        // margin-top: 2%;
        // padding-left: 10%;
        // min-height: 5%;
        // width: 35%;
        // font-size: medium;
        // position: relative;
        // display: inline;
        // zoom: normal;
        // clear: left;
    }
    
    .rinputs{
        //   border: 2px solid magenta;
        // float: left;
        // margin-left: 9.5%;
        // margin-bottom: 10%;
        // margin-top: 2%;
        // padding-left: 10%;
        // min-height: 5%;
        // width: 35%;
        // font-size: medium;
        // position: relative;
        // display: inline;
        // zoom: normal;
    
    }
    
    .rreal{
        margin-left: 0%;
    }

    .rimg {
        margin-left: -8%;
    }
    
    .rreal, .rimg{
        float: left;
        min-width: 50%;
        max-width: 50%;
        font-size: small;
        text-align: center;
    }
    
    .rplus{
        float: left;
        padding-top: 3%;
        margin-left: -5%;
        width: 5%;
    }
    
    .rimc{
        float: left;
        width: 5%;
        padding-top: 3%;
        margin-left: -2%;
        font-size: small;
    }
    
    
    .rlabel1{
        float: left;
        clear: both;
        padding-left: 40%;
    }
    
    .rlabel2{
        float: left;
        clear: both;
        padding-left: 35%;
    }
    
    .rmod{
        float: left;
        min-width: 50%;
        max-width: 50%;
        font-size: small;
        margin-left: 15%;
    }
    
    .rpha{
        float: left;
        margin-top: 0%;
        margin-left: -15%;
        min-width: 50%;
        max-width: 50%;
        font-size: xx-small;
        text-align: center;
    }
    
    .rexp{
        width: 5%;
        font-size: x-large;
        float: left;
        text-align: center;
        margin-left: -15%;
        margin-top: 0%;
    }
    
    .rexpi{
        padding-top: 4%;
        margin-left: -10%;
        width: 5%;
        float: left;
    }
}