<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      General Infos and Updates
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-subtitle>General Informations</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <b>C-Numbers</b> is a progressive web application that was developed as part of a research and development project <br>
      in the bachelor's degree in computer science at the Dortmund University of Applied Sciences.. <br> <br>
      <b>Subject</b>: Entwicklung einer progressiven Web-App zur Visualisierung von und Rechnung mit komplexen Zahlen. <br>
      <b>Supervisor:</b> Prof. Dr. Burkhard Lenze. <br>
      <b>Developer:</b> Saad El Hafiane. <br>
      <b>Version: 2.0</b> 
    </ion-card-content>
  </ion-card>

   <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-subtitle>Updates</ion-card-subtitle>
    </ion-card-header>
        <ion-button id='update' [color]="bcolor" (click)="checkUpdates()">check for updates</ion-button>
    <ion-card-content id ='uc'>
    </ion-card-content>
  </ion-card>

</ion-content>


