.buttons {
  margin-left: 15%;
  margin-bottom: 2%;
  height: 5%;
  width: 80%;
  float: left;
  --ion-grid-width: 20%;
}

.element {
  border-radius: 5px;
  margin-left: 5%;
  position: relative;
  min-width: 10%;
  max-width: 25%;
  font-size: 0.7em;
  float: left;
}

.draw {
  border-radius: 5px;
  margin-right: 12.5%;
  position: relative;
  bottom: 1%;
  left: -2%;
  max-width: 8%;
  font-size: 12px;
  float: left;
}

.label {
  font-size: 0.5em;
  position: absolute;
  top: 80%;
  left: 9%;
  margin-bottom: 2%;
}

.label2 {
  position: absolute;
  top: 80%;
  left: 42%;
  font-size: 0.5em;
  margin-bottom: 2%;
}

.clear {
  border-radius: 5px;
  margin-left: 15%;
  position: relative;
  min-width: 10%;
  max-width: 25%;
  font-size: 0.7em;
  float: left;
}

@media only screen and (max-device-width: 768px) {
  .label {
    font-size: 0.5em;
    position: absolute;
    top: 80%;
    left: 10%;
    margin-bottom: 2%;
  }
  .label2 {
    position: absolute;
    top: 80%;
    left: 40%;
    font-size: 0.5em;
    margin-bottom: 2%;
  }
  .draw {
    border-radius: 5px;
    margin-right: 0%;
    position: relative;
    bottom: 1%;
    left: -2%;
    max-width: 8%;
    font-size: 12px;
    float: left;
  }
  .buttons {
    margin-left: 10%;
    margin-bottom: 2%;
    height: 5%;
    width: 80%;
    float: left;
  }
}

@media only screen and (max-device-height: 680px) {
  .element {
    font-size: 0.6em;
  }
  .clear {
    font-size: 0.6em;
  }
}

@media only screen and (max-device-width: 420px) {
  .element {
    font-size: xx-small;
  }
  .clear {
    font-size: xx-small;
  }
}

@media only screen and (min-device-width: 750px) {
  .buttons {
    margin-left: 20%;
  }
}
/*# sourceMappingURL=buttons.component.css.map */