.buttons{

    // border: 2px solid red;
    margin-left: 5%;
    margin-bottom: 1%;
    margin-top: 2%;
    height: 5%;
    width: 80%;
    float: left;
    --ion-grid-width: 20%;
}

.draw{
    //border: 2px solid rgb(156, 105, 10);
    border-radius: 5px;
    margin-left: 0%;
    position: relative;
    min-width: 40%;
    max-width: 40%;
    font-size: .6em;
    float: left;
}

.drawop{
  //border: 2px solid rgb(156, 105, 10);
  border-radius: 5px;
  max-width: 5%;
  font-size: 10px;
  padding-right: 6%;
  margin-left: -10%;
  margin-right: 2%;
  float: left;
}

.operation{
  border-radius: 5px;
  margin-left: 2%;
  position: relative;
  min-width: 30%;
  max-width: 30%;
  font-size: .6em;
  float: left;
  clear: both;
}

.clear{
  border-radius: 5px;
  margin-left: 3%;
  position: relative;
  min-width: 35%;
  max-width: 35%;
  font-size: .6em;
  float: left;
}

.label{
  position: absolute;
  left: 8%; top: 100%;
  margin-bottom: 2%;
  font-size: xx-small;
  
}

.label2{
  position: absolute;
  left: 60%; top: 100%;
  margin-bottom: 2%;
  font-size: xx-small;
  
}
// .label{
//   font-size: 0.5em;
//   position: absolute; top: 80%; left: 9%;
//   margin-bottom: 2%;
// }

// .label2{
  
//   position: absolute; top: 80%; left: 42%;
//   font-size: 0.5em;
//   margin-bottom: 2%;
// }

// .clear{
//   border-radius: 5px;
//   margin-left: 15%;
//   position: relative;
//   min-width: 10%;
//   max-width: 25%;
//   font-size: 0.7em;
//   float: left;
// }

@media only screen and (min-device-width: 768px){
  .buttons{

    // border: 2px solid red;
    margin-left: 5%;
    margin-bottom: 1%;
    margin-top: 1%;
    height: 5%;
    width: 80%;
    float: left;
    --ion-grid-width: 20%;
}

.draw{
    //border: 2px solid rgb(156, 105, 10);
    border-radius: 5px;
    margin-left: 0%;
    position: relative;
    min-width: 40%;
    max-width: 40%;
    font-size: .6em;
    float: left;
}

.drawop{
  //border: 2px solid rgb(156, 105, 10);
  border-radius: 5px;
  max-width: 5%;
  font-size: 10px;
  padding-right: 6%;
  margin-left: -10%;
  margin-right: 2%;
  float: left;
}

.operation{
  border-radius: 5px;
  margin-left: 2%;
  position: relative;
  min-width: 30%;
  max-width: 30%;
  font-size: .6em;
  float: left;
  clear: both;
}

.clear{
  border-radius: 5px;
  margin-left: 3%;
  position: relative;
  min-width: 35%;
  max-width: 35%;
  font-size: .6em;
  float: left;
}

.label{
  position: absolute;
  left: 8%; top: 100%;
  margin-bottom: 2%;
  font-size: xx-small;
  
}

.label2{
  position: absolute;
  left: 60%; top: 100%;
  margin-bottom: 2%;
  font-size: xx-small;
  
}
}
//   .label{
//     font-size: 0.5em;
//     position: absolute; top: 80%; left: 10%;
//     margin-bottom: 2%;
//   }
  
//   .label2{
    
//     position: absolute; top: 80%; left: 40%;
//     font-size: 0.5em;
//     margin-bottom: 2%;
//   }

//   .draw{
//     //border: 2px solid rgb(156, 105, 10);
//     border-radius: 5px;
//     margin-right: 0%;
//     position: relative; bottom: 1%; left: -2%;
//     max-width: 8%;
//     font-size: 12px;
//     float: left;
//   }

//   .buttons{

//     // border: 2px solid red;
//     margin-left: 10%;
//     margin-bottom: 2%;
//     height: 5%;
//     width: 80%;
//     float: left;
//   }
// }

// @media only screen and (max-device-height: 680px){
//   .element{
//     font-size: 0.6em;
//   }

//   .clear{
//     font-size: 0.6em;
//   }
// }

// @media only screen and (max-device-width: 420px){
//   .element{
//     font-size: xx-small;
//   }
//   .clear{
//     font-size: xx-small;
//   }
// }

// @media only screen and (min-device-width: 750px){
//   .buttons{
//     margin-left: 15%;
//     font-size: large;
//   }
// }
