<div class="buttons">
  <ion-buttons>

    <ion-button mode="md" shape="round" class="draw w3-btn w3-blue" (click)="drawVector()">
      draw / calculate
    </ion-button>
    <ion-label class="label">{{this.drawOption}}</ion-label>

    <ion-button shape="round" class="drawop w3-btn w3-blue" (click)="drawOptionsChanged($event)">
      ▼
    </ion-button>
    
    <ion-button mode="md" shape="round" class="operation w3-btn w3-blue" (click)="presentActionSheet()">
      operations                      
    </ion-button>
    <ion-label class="label2">{{this.operations}}</ion-label>

    <ion-button mode="md" shape="round" class="clear w3-btn w3-blue" (click)="clearGrid()">
      clear canvas
    </ion-button>

  </ion-buttons>
  
</div>  
