
<button class="w3-btn w3-ripple" (click)="toggle()" id="ht"  *ngIf="data.length > 0">
  <ion-icon name="switch"></ion-icon>
  View Options
</button>
<button class="w3-btn w3-ripple" (click)="presentActionSheet()" id="db" *ngIf="show && data.length > 0">
  delete all
  <ion-icon name="close-circle"></ion-icon>
</button>
<div class="helptool">

<ng-container id="ct" *ngIf="show">

      <ion-item-sliding *ngFor="let item of data; let i = index">

      <ion-item >
          <ion-button class="toggle" mode="md" ngDefaultControl [checked]="!checked[i]" (click)="hide(i)" color="primary" style="--border-radius: 25px;">{{this.checked[i] === true ? "show" : "hide"}}</ion-button>
          <p><ion-text class="text">Re: {{item[0]}}, 
                                      Im: {{item[1]}},
                                      Mod: {{item[2]}},
                                      Ph: {{item[3]}}  </ion-text></p>
                                      
                                      <input readonly [value]=""
                                      class="pickr"
                                      [style.background]="color[i]"
                                      [cpOKButton]="true"
                                      [cpDialogDisplay]="'popup'"
                                      [cpPosition]="'top-left'"
                                      [cpSaveClickOutside]="false"
                                      [cpOKButtonClass]= "'btn btn-primary btn-xs'"
                                      [(colorPicker)]="color[i]"
                                      (colorPickerSelect)="colorSelected(i, $event)"/>
                                      
                                      <input readonly [value]=""
                                      class="pickr"
                                      [style.background]="pColor[i]"
                                      [cpOKButton]="true"
                                      [cpDialogDisplay]="'popup'"
                                      [cpPosition]="'top-left'"
                                      [cpSaveClickOutside]="false"
                                      [cpOKButtonClass]= "'btn btn-primary btn-xs'"
                                      [(colorPicker)]="pColor[i]"
                                      (colorPickerSelect)="phaseColorSelected(i, $event)"/> 
                                      <!-- <div style="margin-left: 2%;"> -->
                                        <ion-button (click)="randomizeColors(i)" class="w-btn w3-ripple" style="margin-left: 2%;" mode="ios">
                                          <ion-icon name="repeat"></ion-icon>
                                        </ion-button>
                                      <!-- </div> -->
      </ion-item>

        <ion-item-options side="end" (ionSwipe)="deleteItem(i)">
        <ion-item-option color="danger" (click)="deleteItem(i)" expandable>
          <ion-label>Delete</ion-label>
        </ion-item-option>

      </ion-item-options>
      </ion-item-sliding>

</ng-container>
</div>