.helptool {
  max-height: 150px;
  min-width: 100%;
  overflow-y: scroll;
}

.item {
  width: 100%;
  font-size: 12px;
  border-radius: 25px;
}

.pickr {
  width: 25px;
  margin-left: 1%;
  border-radius: 10px;
}

#ht {
  background-color: #df813c;
  border-radius: 25px;
  margin: 2% 0% 2% 5%;
  text-align: center;
  font-size: small;
  float: left;
  clear: both;
}

.text {
  font-size: medium;
}
/*# sourceMappingURL=vectormanager.component.css.map */