
.helptool{
    max-height: 150px;
    min-width: 100%;
    overflow-y: scroll;
}

.item{
    width:100%;
    font-size: 12px;
    border-radius: 25px;;
}

.pickr{
    width: 25px;
    margin-left: 1%;
    border-radius: 10px;
}


#ht{
    background-color: #df813c;
    border-radius: 10px;
    margin: 2% 0% 2% 5%; 
    min-width: 16%;
    text-align: center;
    font-size: small;
    float: left;
    clear: left;
}

#db{
    background-color: #df813c;
    border-radius: 10px;
    margin: 2% 0% 2% 5%; 
    min-width: 13%;
    text-align: center;
    font-size: small;
    float: right;
    clear: right;
}

.text{
    font-size: medium;
}
