<ion-card class="inputs" role="input">
  
  <ion-input class="nthroot" (ionChange)="rootChanged()" style="--padding-start:10%" clearOnEdit="true" type="text" placeholder="Nth Root" ngDefaultControl [(ngModel)]="root" [disabled]="isDisabled" maxlength="2" oninput="this.value=this.value.replace(/[^0-9]/g,'');"></ion-input>

  <ion-label class="label1">nth root</ion-label>
</ion-card>