

@media only screen and (max-width: 767px) {
    .label1{
        float: left;
        padding-left: 35%;
        clear: both;
    }
    
    .nthroot{
        text-align: center;
    }
}

@media only screen and (min-width: 768px) {
    .label1{
        float: left;
        padding-left: 35%;
        clear: both;
    }
    
    .nthroot{
        text-align: center;
    }
}

@media only screen and (min-width: 1025px) {
    .label1{
        float: left;
        padding-left: 45%;
        clear: both;
    }
    
    .nthroot{
        text-align: center;
    }
}