<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.13.13/dist/katex.min.css" integrity="sha384-RZU/ijkSsFbcmivfdRBQDtwuwVqK7GMOw6IMvKyeWL2K5UAlyp6WonmB8m7Jd0Hn" crossorigin="anonymous">
  <button class="w3-btn w3-ripple" (click)="toggle();" id="ht">
    Step-By-Step Solution
    <ion-icon name="more" mode="ios"></ion-icon>
  </button>

  <div class ="sbstool"> 

    <ng-container id="ct" >    
          <ion-card class="textCard">
            <ion-label class ="text" id="text">  
                  </ion-label>
          </ion-card>
    </ng-container>

    <button class="w3-btn w3-ripple" (click)="prevItem()" id="prev" *ngIf="show">
      Previous
    </button>
  
    <button class="w3-btn w3-ripple" (click)="nextItem()" id="next" *ngIf="show">
      Next
    </button>

    <button class="w3-btn w3-ripple" id="next" (click)="toggle()" *ngIf="show">
      Close
    </button>
  </div>

