#bt {
  background-color: #df813c;
  border-radius: 25px;
  margin-left: 5%;
  margin-top: 5%;
  font-size: small;
  text-align: center;
  float: left;
}

.sbstool {
  max-height: 150px;
  min-width: 100%;
  overflow-y: scroll;
}

.item {
  width: 100%;
  font-size: 12px;
  border-radius: 25px;
}

#ht {
  background-color: #df813c;
  border-radius: 25px;
  margin: 2% 0% 2% 5%;
  text-align: center;
  font-size: small;
  float: left;
  clear: both;
}

.text {
  font-size: medium;
}

#ct {
  background-color: #df813c;
  border-radius: 25px;
  font-size: small;
  text-align: center;
  float: right;
}

.textCard {
  width: 70%;
  min-height: 100%;
  margin-left: 15%;
  margin-bottom: 10%;
  clear: both;
  float: left;
}

#next {
  background-color: #df813c;
  border-radius: 25px;
  margin: 2% 0% 2% 5%;
  text-align: center;
  font-size: small;
  float: left;
}

#prev {
  background-color: #df813c;
  border-radius: 25px;
  margin: 2% 0% 2% 5%;
  text-align: center;
  font-size: small;
  float: left;
  clear: both;
}
/*# sourceMappingURL=stepbysteptool.component.css.map */