
#bt{
    background-color: #df813c;
    border-radius: 25px;
    margin-left: 5%;
    font-size: small;
    text-align: center;
    float: left;
}

.sbstool{
    min-width: 100%;
    overflow-y: scroll;
    clear: both;
}

.item{
    width:100%;
    font-size: 12px;
    border-radius: 25px;;
}


#ht{
    background-color: #df813c;
    border-radius: 10px;
    margin: 2% 0% 2% 5%; 
    min-width:16%;
    text-align: center;
    font-size: small;
    float: left;
    clear: both;
}

.text{
    font-size: small;
}

#ct{
    background-color: #df813c;
    border-radius: 25px;
    // margin-right: 5%;
    font-size: small;
    text-align: center;
    float: left;
}

.textCard{
    width: 80%;
    height: 100%;
    margin-left: 10%;
    margin-bottom: 2%;
    overflow-x: auto;
    clear:both;
    float:left;
}

#next{

    background-color: #df813c;
    border-radius: 10px;
    margin: 0% 0% 5% 4%; 
    min-width: 6%;
    text-align: center;
    font-size: small;
    float: left;
}

#prev{    background-color: #df813c;
    border-radius: 10px;
    margin: 0% 0% 5% 5%; 
    min-width: 6%;
    text-align: center;
    font-size: small;
    float: left;
    clear: both;
}
