<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Complex Numbers
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title>Welcome to Complex Numbers.</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <b>C-Numbers</b> is a progressive web app developed to display and solve problems in the area of complex numbers. <br><br>
      In the <b>Graph</b> page, by input of a complex number (consisting of a real part and an imaginary part), 
      by selecting draw options on the drop-down menu next to the <b>Draw</b> button,
      it is also possible to display the complex conjugate as well as the complex inverse of the given number.<br> <br>
      Also, by toggling the <b>Mode Switch</b> under the Graph, it is possible to choose providing the complex number in <b>cartesian</b>
      or <b>polar</b> form, it would be then automatically converted by the inputs on each side. <br><br>
      When the selected number is visualized, it is then possible to view this complex number on several angles of the scene.<br><br>
      The <b>Reset Camera</b> button will help to retrieve the initial angle of the camera.<br> <br>
      The <b>Clear</b> button would remove all numbers displayed on the scene. By changing options in the <b>Operations</b> button, 
      it is possible to execute different operations (Addition, Subtraction, Multiplication or Division) on two given complex numbers.<br><br>
      Furthermore, a <b>View-Option Tool</b> under the Inputs is provided, providing more information on each complex number existing in the scene. 
      Also, it gives the possibility to display or hide each number individually, as well as to completely remove it from the scene.<br><br>
      The <b>Step by Step</b> Tool allows the user to see the solution of the given operation. The user can then by clicking the <b>next</b> or <b>previous</b> 
      buttons proceed to the previous / next step of the solution. <br><br>
      On the <b>Infos and Update</b> page, general information about the progressive web app as well as the possibility to search for the latest updates
      of C-Numbers PWA is available. <br><br>
    </ion-card-content>
  </ion-card>

 
