.toggle {
  float: left;
  clear: both;
  width: 70%;
  max-height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 15%;
}

.toggleelement {
  width: 35%;
  border-radius: 5px;
}
/*# sourceMappingURL=modeswitch.component.css.map */