
  <ion-card class ="toggle">
    <div class ="toggle">
      <ion-segment (ionChange)="segmentChanged($event)" value="cartesian">
        <ion-segment-button class ="toggleelement" value="cartesian">
          <ion-label>Cartesian</ion-label>
        </ion-segment-button>

        <ion-segment-button class ="toggleelement" value="polar">
          <ion-label>Polar</ion-label>
        </ion-segment-button>
      </ion-segment> 
    </div>
  </ion-card>