.toggle{
    // border: 2px solid orangered;
    float: left;
    clear: both;
    width: 70%;
    max-height: 10%;
    display: flex;
    margin-left: 15%;
}

.toggleelement{
    // border: 2px limegreen;
    width: 35%;
    border-radius: 5px;
}