#cartesianGraph {
  max-width: 90%;
  margin-left: 5%;
  margin-top: 2%;
  border-radius: 10px;
  display: block;
}

@media (max-device-height: 850px) {
  #cartesianGraph {
    max-width: 90%;
    max-height: 400px;
    margin-left: 5%;
    margin-top: 2%;
    border-radius: 10px;
    display: block;
  }
}
/*# sourceMappingURL=canvas.component.css.map */