#cartesianGraph {
  max-width: 100%;
  max-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#stats {
  float: left;
  top: 2px;
  left: 2px;
}

.canvas {
  border-radius: 20px;
  min-width: 90%;
  max-width: 90%;
  height: 60%;
  margin-left: 5%;
  margin-top: 20px;
  float: left;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.chart {
  border-radius: 25px;
}

.buttons {
  float: left;
  margin-left: 10%;
  margin-bottom: 5%;
  height: 5%;
  width: 80%;
}

.inputs {
  float: left;
  margin-left: 10%;
  margin-bottom: 2%;
  margin-top: 2%;
  padding-left: 10%;
  min-height: 5%;
  width: 35%;
  position: relative;
  display: inline;
}

.element {
  border-radius: 5px;
  float: left;
  margin-left: 10%;
  position: relative;
  width: 20%;
}

.toggle {
  float: left;
  clear: both;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 15%;
}

.toggleelement {
  border: 2px limegreen;
  width: 35%;
  border-radius: 5px;
}

.operationSheet {
  float: left;
}

.vectormanager {
  float: left;
  width: 70%;
  margin-left: 15%;
  clear: both;
}
/*# sourceMappingURL=graph.page.css.map */