<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Graph
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div>

       <app-graphinputs></app-graphinputs>

     </div>

</ion-content>

<script src="//cdn.rawgit.com/mrdoob/three.js/master/build/three.min.js"></script>